*{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    margin: 0px;

    background-image: url('./images/body_img.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw ;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top: 15px;
    padding: 0 60px 0 60px;
}

ul li{
    list-style: none;
    padding: 9px 29px;
    font-weight: 600;
}

.main_nav{
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_txt{
    width: 700px;
    font-size: 400%;
    font-weight: 900;
}

button{
    background-color: #ff505f;
    padding: 7px 25px;
    font-weight: 600;

    color: #fff;
}

.footer_btn{
    position: absolute;
    bottom: 10px;
    right: 40px;
}

li,h1{
    color: #ffc233;
}